*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{
background:#07111f;
font-family:'Inter',sans-serif;
color:white;
line-height:1.8;
}

nav{
position:sticky;
top:0;
padding:30px 8%;
display:flex;
justify-content:space-between;
align-items:center;
background:rgba(7,17,31,.85);
backdrop-filter:blur(20px);
z-index:100;
}

.logo{
font-size:26px;
font-weight:700;
}

.nav-links{
display:flex;
gap:30px;
align-items:center;
}

.nav-links a{
text-decoration:none;
color:white;
font-size:15px;
transition:.3s;
}

.nav-links a:hover{
color:#00d4ff;
}

.book-btn{
background:#00d4ff;
padding:14px 22px;
border-radius:14px;
color:black!important;
font-weight:600;
}

.hero{
max-width:1300px;
margin:auto;
padding:120px 8%;
display:flex;
align-items:center;
justify-content:space-between;
gap:100px;
flex-wrap:wrap;
}

.hero-left{
flex:1;
}

.tag{
color:#00d4ff;
letter-spacing:2px;
font-size:14px;
font-weight:700;
margin-bottom:25px;
}

.hero h1{
font-size:72px;
line-height:1.1;
font-weight:800;
background:linear-gradient(to right,#fff,#00d4ff,#8b5cf6);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

.subtitle{
font-size:22px;
margin-top:30px;
color:#d1d5db;
}

.hero-text{
margin-top:20px;
max-width:650px;
color:#94a3b8;
font-size:18px;
}

.hero-buttons{
margin-top:40px;
display:flex;
gap:20px;
flex-wrap:wrap;
}

.primary-btn{
background:#00d4ff;
padding:18px 30px;
border-radius:16px;
text-decoration:none;
color:black;
font-weight:700;
}

.secondary-btn{
border:1px solid rgba(255,255,255,.1);
padding:18px 30px;
border-radius:16px;
text-decoration:none;
color:white;
}

.hero-right img{
width:380px;
height:380px;
object-fit:cover;
border-radius:50%;
border:5px solid #00d4ff;
box-shadow:0 0 70px rgba(0,212,255,.5);
}

section{
max-width:1300px;
margin:auto;
padding:90px 8%;
}

h3{
font-size:48px;
margin-bottom:50px;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
}

.card{
background:rgba(255,255,255,.04);
padding:45px;
border-radius:28px;
backdrop-filter:blur(25px);
transition:.4s;
}

.card:hover{
transform:translateY(-10px);
}

.card h2{
font-size:46px;
color:#00d4ff;
margin-bottom:10px;
}

.card p{
color:#cbd5e1;
}

footer{
padding:120px 8%;
text-align:center;
}

footer h2{
font-size:42px;
max-width:900px;
margin:auto;
}

@media(max-width:768px){

nav{
flex-direction:column;
gap:20px;
}

.nav-links{
flex-wrap:wrap;
justify-content:center;
}

.hero{
text-align:center;
justify-content:center;
}

.hero h1{
font-size:48px;
}

.hero-right img{
width:260px;
height:260px;
}

}
